
// Colors
//
$body-color: #000;

// special light gray for flourishes like hr's
$gray-subtle: #eee;

// Brand Scale
$theme-colors: ( primary: #1997c6, success: #1BC98E, info: #9F86FF, warning: #E4D836, danger: #E64759, dark: darken(#252830, 5%) );
