:root {
        --timeline-bulb-color: #4AD991;
        --timeline-bulb-bgColor: #4AD991;
}
      

.htimeline { list-style: none; padding: 7px; margin: 10px 0 0; }

.htimeline .step { 
        float: left; 
        border-top-style: solid; 
        border-top-width: 3px; 
        position: relative; 
        margin-top: 10px; 
        margin-bottom: 30px; 
        text-align: left; 
        padding: 10px 0 0 0;
        background-color: white; 
        color: #aaa4a4; 
        height: 100px; 
        vertical-align: middle; 
        border-right: solid 1px white; 
        transition: all 0.5s ease;

}
.htimeline .step:nth-child(odd) { background-color:  white; }
.htimeline .step:first-child { border-left: solid 1px white; }
.htimeline .step:hover { background-color: #ccc; cursor: pointer;}


.htimeline .step div { margin: 15px 5px; font-size: 11px; vertical-align: top; padding: 0;}

.htimeline .step.olivedrab { border-top-color: #4AD991;}
.htimeline .step.red { border-top-color: #FF6565;}
.htimeline .step.yellow { border-top-color: #FFA177}

.htimeline .step.color1 { border-top-color:var(--timeline-bulb-color);}
.htimeline .step.color1::before {border-color: var(--timeline-bulb-bgColor); background-color:var(--timeline-bulb-bgColor); color: #ffffff }

.htimeline .step::before { 
        width: 36px; 
        height: 36px; 
        border-radius: 50px; 
        padding:10px;
        content: ' '; 
        background-color: #ffffff; 
        position: absolute; 
        top: -15px; 
        left: -2px; 
        border-style: solid; 
        border-width: 1px; 
        transition: all 0.5s ease;}
.htimeline .step:hover::before { width: 30px; height: 30px; top: -10px; }

.htimeline .step.olivedrab::before {border-color: #4AD991; background-color: #4AD991; color: #ffffff }
.htimeline .step.red::before {border-color:#FF6565; background-color: #FF6565; color: #ffffff }
.htimeline .step.yellow::before {border-color:#FFA177; background-color: #FFA177; color: #ffffff }

.htimeline .step::after { position: absolute; top: -8px; left: 7px; font-size: 11px; color: #382b2b}
